body {
    min-height: 100vh;
    background-color: #10144f;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    border-radius: 50%;
    width: 30vh;
    length: 30vh;
    margin-left: 50px;
    margin-top: 0%;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 5%;
}

nav ul li a.active {
    background-color: #fff;
    color: #10144f;
}

nav ul a:hover {
    background-color: rgb(2, 2, 59);
    border-bottom: 3px solid cyan;
}